html {
  scroll-behavior: smooth;
}
.intex-body {
  background-image: linear-gradient(to bottom right, white, rgba(0, 0, 0, 0.247));
}
.caption-img {
  max-width: 100%;
  min-height: 100%;
}
.caption-img.right {
  border-left-style: ridge;
  border-color: #5e473a;
}
.caption-img.left {
  border-right-style: groove;
  border-color: #5e473a;
}
.caption-text{
  font-family: 'Marck Script', cursive;
  font-size: 3.5vw;
}
.main-image-div {
  height: 18rem;
  width: 100%;
  /* margin-top: -2.5rem; */
}
.caption-section {
  width: 80%;
  /* top: -3.5rem; */
  top: -2.5rem;
  position: relative;
  transition: 600ms;
  animation:fade-in 1.2s linear forwards;
}
.caption-div {
  position: relative;
}
.caption-div.small {
  width: 93%; 
  animation:move-to-right 500ms linear forwards;
}
.caption-div.large {
  animation:move-to-left 500ms linear forwards;
}
.caption-inner-div {
  background: #aa9d95;
}
.main-img {
  width: inherit;
  height: inherit;
}
.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
}
.shadow-lite {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.navbar-div {
  z-index: 10;
  width: 100%;
  top: 0;
  position: absolute;
}
.navbar {
  padding: 0.01rem;
}
.section-heading {
  text-align: center;
  font-family: 'Righteous', cursive;
}
.map {
  max-width: 100%;
}
.copyrights {
  color: #a1a1a1;
  font-size: small;
}
.footer-section {
  background-color: black;
}
.media-logo {
  font-size: larger;
}
.media-log-a {
  color: #ffffff;
  text-decoration: none; 
}
.media-log-a:hover {
  color: #a1a1a1;
  text-decoration: none;
  cursor: pointer;
}
.about-inner-div {
  width: 85%;
}
.about-text {
  font-family: 'El Messiri', sans-serif;
  font-size: larger;
}
.address-div {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  max-width: 80%;
  background: #85685634;
}
.address-text {
  font-family: 'Teko', sans-serif;
  font-size:1.6rem;
  letter-spacing: 0.06rem;
}
.section-links {
  color: #000000;
  font-family: 'Exo', sans-serif;
}
.section-links:hover {
  color: rgb(68, 139, 139);
}
.title-div {
  width: 35rem;
  position: relative;
  top: -16rem;
  margin-left: 2rem;
}
.title {
  font-size: 3.4vw;
  color: darkslategray;
}
.nav-title {
  color: darkslategray;
  padding-left: 1rem;
  padding-top: 0.5rem;
}
.span-t {
  font-size: 4.2vw;
}
.span-n {
  font-size: 4.6vw;
}
.aa {
  font-size: 3.7vw;
}








@media only screen and (max-width:767px) {
  .nav-title {
    margin-right: auto;   
  }
  .title-div {
    display: none;
  }
}
@media only screen and (min-width:767px) {
  .nav-title {
    display: none;
    
  }
}



/*Animate fade effect to caption-section at the begining*/
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/*Animate moving effect to caption-div (to right & left) at the beginig*/
@keyframes move-to-right {
  from{
    right: 20rem;
  }
  to{
    right: 0rem;
  }
}
@keyframes move-to-left {
  0%{
    left:20rem;
  }
  100%{
    left:0rem
  }
}



/* @keyframes stretch {
  0% {
    transform: scale(.01);
    }

  100% {
  }
} */
