html{
  scroll-behavior: smooth;
}
body{
  background-color:burlywood;
}
header{
  width: 100%;
  z-index: 1;
}
img{
  max-width: 100%;
}
.main-image-div{
  height: 21rem;
  background-color: blueviolet;
  width: 100%;
}
.caption-section{
  width: 70%;
  top: -4.5rem;
  position: relative;
}
.main-img{
  width: inherit;
  height: inherit;
}
.shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, .7);
}
.navbar{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, .2);
}
p{
  /* font-size: 3.3vw; */
}
.about-section{
}
.section-headings{
  text-align: center;
}
.about-p{
 
}
iframe{
  max-width: 100%;
}