html {
  scroll-behavior: smooth;
}
.intex-body {
  /* background-image: linear-gradient(#deb887, #ffffff,#deb8878f); */
  background-image: linear-gradient(to bottom right, white, rgba(0, 0, 0, 0.247));

}
.c-img {
  max-width: 100%;
}
.c-text{
  font-size: 3.5vw;
}
.main-image-div {
  height: 18rem;
  width: 100%;
  /* margin-top: -2.5rem; */
}
.caption-section {
  width: 80%;
  top: -3.5rem;
  position: relative;
  transition: 600ms;
  animation:fade-in 1.2s linear forwards;
  /* animation:move-to-top 500ms linear forwards; */
}
.caption-div {
  position: relative;
}
.caption-inner-div {
  /* background-color: rgb(134, 130, 139); */
  /* opacity: 0.5; */
  /* background: rgba(134, 130, 139,0.7) */
  /* background: rgb(222, 184, 135) */
  /* background: hsl(200, 9%, 67%); */
  /* background: #96979b; */
  background: #bb8d6da1;
}
.main-img {
  width: inherit;
  height: inherit;
}
.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
}
.shadow-lite {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.navbar-div {
  z-index: 10;
  width: 100%;
  top: 0;
  position: absolute;
}
.navbar {
  padding: 0.01rem;
}
.section-headings {
  text-align: center;
}
iframe {
  max-width: 100%;
}
.copyrights {
  color: #a1a1a1;
  font-size: small;
}
.footer-section {
  background-color: black;
}
.media-logo {
  font-size: larger;
}
.media-log-a {
  color: #ffffff;
  text-decoration: none; 
}
.media-log-a:hover {
  color: #a1a1a1;
  text-decoration: none;
  cursor: pointer;
}
.about-inner-div {
  width: 85%;
}
.address {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  max-width: 80%;
  /* background: #ccaf9a; */
  background: #deb88759;
  /* background-image: url(furniture\ photos/1618583869221.png); */
}
.section-links {
  color: #000000;
}
.section-links:hover {
  color: rgb(68, 139, 139);
}
.title-div {
  width: 35rem;
  position: relative;
  top: -16rem;
  margin-left: 2rem;
}
.title {
  font-size: 3.4vw;
  color: darkslategray;
}
.nav-title {
  color: darkslategray;
  padding-left: 1rem;
  padding-top: 0.5rem;
}
.span-t {
  font-size: 4.2vw;
}
.span-n {
  font-size: 4.6vw;
}
.aa {
  font-size: 3.7vw;
}
.c-l {
  animation:move-to-left 500ms linear forwards;
}
.c-r {
  animation:move-to-right 500ms linear forwards;
}


@media only screen and (max-width:767px) {
  .nav-title {
    margin-right: auto;   
  }
  .title-div {
    display: none;
  }
}
@media only screen and (min-width:767px) {
  .nav-title {
    display: none;
    
  }
}

/*Animate fade effect to caption-section at the begining*/
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/*Animate moving effect to caption-div (to right & left) at the beginig*/
@keyframes move-to-right {
  from{
    right: 20rem;
  }
  to{
    right: 0rem;
  }
}
@keyframes move-to-left {
  0%{
    left:20rem;
  }
  100%{
    left:0rem
  }
}