/** Max-Width **/
@media only screen and (max-width: 767px) {
   .header__banner {
      height: 12rem;
      width: 100%;
   }
   .header--title-div {
      top: -11rem;
      margin-left: 1rem;
   }
   .header--nav-links .nav-link {
      margin-top: 0rem;
      padding: 0.2rem;
      width: fit-content;
      background-color: unset;
      margin-left: 0.8rem;
   }
   .header--nav-links .nav-link:hover {
      color: rgb(90, 59, 21);
      background-color: unset;
   }
   .caption {
      width: 90%;
      padding-top: 0.8rem;
   }
   .caption__container.large {
      padding-top: 1.3rem;
      padding-bottom: 1.3rem;
   }
   .about .about__container .row {
      width: 100%;
   }
   .location--map {
      height: 180px;
   }
   .location--address {
      width: 70%;
      padding: 1.5rem;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
   }
   .location--address-text {
      font-size: 0.8rem;
   }
}

@media only screen and (max-width: 550px) {
   .header--title-div {
      top: -11.5rem;
   }
   .header--title .high-letter {
      font-size: 5.5vw;
   }
   .header--title .low-letter {
      font-size: 4.5vw;
   }
   .footer--media-logo a svg {
      width: 1.4rem;
   }
}

@media only screen and (max-width: 450px) {
   .header--nav-links .nav-link {
      padding: 0;
   }
   .footer__container {
      border-top: 1px solid rgb(32, 17, 0);
   }
   #scroll-top-btn {
      bottom: 2rem;
      right: 6%;
   }
}

@media only screen and (max-width: 360px) {
   .header--title-div {
      top: -12rem;
   }
   .header--title .high-letter {
      font-size: 6vw;
   }
   .header--title .low-letter {
      font-size: 5vw;
   }
}
/** /Max-Width **/

/** Min-Width **/
@media only screen and (min-width: 550px) {
   .header--toggle-btn {
      font-size: 1.2rem;
   }
}

@media only screen and (min-width: 767px) {
   .caption .caption__container .row {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
   }
}
/** /Min-Width **/
