* {
   margin: 0;
   padding: 0;
}
html {
   scroll-behavior: smooth;
}
p {
   margin-bottom: 0;
   color: black;
}

._shadow {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
}
._shadow-lite {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
._section-headings {
   text-align: center;
   font-family: "Righteous", cursive;
   color: rgb(26, 14, 0);
}

/* *Section: Header* */
.header__banner {
   height: 18rem;
   width: 100%;
}
.header--img {
   width: inherit;
   height: inherit;
}
.header--title-div {
   width: 45vw;
   position: relative;
   top: -16rem;
   margin-left: 2rem;
   background-color: rgba(0, 0, 0, 0);
}
.header--title {
   font-size: 3.4vw;
   font-family: "Milonga", cursive;
}
.header--title .high-letter {
   font-size: 4.2vw;
   color: rgb(90, 48, 0);
   text-shadow: 2px 0px 5px rgba(0, 0, 0, 0.295);
}
.header--title .low-letter {
   color: rgb(36, 19, 0);
   text-shadow: 2px 0px 5px rgba(112, 61, 27, 0.712);
}
.header__navbar {
   z-index: 10;
   width: 100%;
   top: 0;
   position: absolute;
   background-color: rgba(0, 0, 0, 0);
   /* padding: 0.01rem; */
   padding: 0 !important;
}
.header--toggle-btn {
   outline: none !important;
   font-size: medium;
   color: rgb(59, 33, 0);
}
.header--nav-title {
   font-family: "Milonga", cursive;
   /* padding-left: 1rem; */
   /* padding-top: 0.5rem; */
   color: black;
   text-shadow: 0.5px 0px 1px rgba(121, 73, 41, 0.671);
}
.header--nav-title .high-letter {
   /* font-size: 4.6vw; */
   font-size: 6vw;
   color: rgb(90, 48, 0);
}
.header--nav-title .low-letter {
   /* font-size: 3.7vw; */
   font-size: 5vw;
   color: rgb(36, 19, 0);
}
.header--nav-links .nav-link {
   /* color: rgb(17, 9, 0); */
   color: rgb(26, 14, 0);
   font-family: "Exo", sans-serif;
   margin-left: 0.3rem;
   margin-right: 0.3rem;
   margin-top: 0.5rem;
   background-color: rgba(26, 14, 0, 0.116);
   /* border-radius: 1rem; */
   border-radius: 0.4rem;
   /* border: 1px solid rgb(26, 14, 0); */
   padding: 0.1rem;
}
.header--nav-links .nav-link:hover {
   /* color: rgb(102, 69, 29); */
   color: rgb(44, 27, 5);
   background-color: #6764696e;
}
/* *Section: /Header* */

/* *Section: Caption* */
.caption {
   width: 80%;
   top: -2.5rem;
   position: relative;
   transition: 600ms;
   animation: fade-in 550ms linear forwards;
}
.caption__container {
   position: relative;
}
.caption__container.small {
   padding-left: 2rem;
   padding-right: 2rem;
   animation: move-to-right 600ms linear forwards;
}
.caption__container.large {
   padding-top: 3rem;
   padding-bottom: 3rem;
   animation: move-to-left 600ms linear forwards;
}
.caption__container .row {
   background: #aa9d95;
}
.caption--img {
   max-width: 100%;
   min-height: 100%;
}
.caption--img.right {
   border-left-style: ridge;
   border-color: #5e473a;
}
.caption--img.left {
   border-right-style: groove;
   border-color: #5e473a;
}
.caption--quote {
   color: rgb(26, 14, 0);
   font-family: "Marck Script", cursive;
   font-size: 3.5vw;
}
/* *Section: /Caption* */

/* *Section: About* */
.about {
   position: relative;
}
.about__container .row {
   width: 90%;
}
.about--desc {
   font-family: "El Messiri", sans-serif;
   font-size: larger;
   text-align: justify;
}
/* *Section: /About* */

/* *Section: Location* */
.location--map-div {
   padding: 3rem;
}
.location--map {
   max-width: 100%;
}
.location--address-div {
   padding: 0;
}
.location--address {
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
   width: 93%;
   padding: 5rem;
   background: #85685634;
}
.location--address-text {
   font-family: "Exo", sans-serif;
   font-size: 1.2rem;
   letter-spacing: 0.03rem;
}
/* *Section: /Location* */

/* *Section: Footer* */
.footer {
   background-color: black;
   height: 4.5rem;
}
.footer--heading {
   font-family: "Cairo", sans-serif;
   font-size: 1rem;
   color: #a1a1a1;
   margin: 0;
   margin-bottom: 0.2rem;
   letter-spacing: 0.1rem;
}
.footer--media-logo {
   font-size: larger;
}
.footer--media-logo a {
   color: #fff;
   text-decoration: none;
}
.footer--media-logo a:hover {
   color: #a1a1a1;
   text-decoration: none;
}
.footer--developer {
   font-family: "Cairo", sans-serif;
   color: rgba(255, 255, 255, 0.08);
   position: absolute;
   right: 0.6rem;
   margin-top: 2.8rem;
   font-size: 0.7rem;
   cursor: default;
}
.footer--developer:hover {
   color: rgba(255, 255, 255, 0.15);
}
.footer--developer a {
   color: inherit;
   font-weight: 700;
}
/* *Section: /Footer* */
