* {
   margin: 0;
   padding: 0;
}
html {
   scroll-behavior: smooth;
}
p {
   margin-bottom: 0;
   color: black;
}

._shadow {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
}
._shadow-lite {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
._section-headings {
   text-align: center;
   font-family: "Righteous", cursive;
   color: rgb(26, 14, 0);
}

/* *Section: Header* */
.header__banner {
   height: 18rem;
   width: 100%;
}
.header--img {
   width: inherit;
   height: inherit;
}
.header--title-div {
   position: relative;
   top: -15rem;
   margin-left: 2rem;
   background-color: rgba(0, 0, 0, 0);
   cursor: default;
}
.header--title {
   font-family: "Milonga", cursive;
}
.header--title .high-letter {
   font-size: 4.2vw;
   color: rgb(90, 48, 0);
   text-shadow: 2px 0px 5px rgba(0, 0, 0, 0.295);
}
.header--title .low-letter {
   font-size: 3.4vw;
   color: rgb(36, 19, 0);
   text-shadow: 2px 0px 5px rgba(112, 61, 27, 0.712);
}
.header__navbar {
   z-index: 10;
   width: 100%;
   top: 0;
   position: absolute;
   background-color: rgba(0, 0, 0, 0);
   padding: 0 !important;
}
.header--toggle-btn {
   outline: none !important;
   font-size: medium;
   color: rgb(59, 33, 0);
}
.header--nav-title {
   font-family: "Milonga", cursive;
   color: black;
   text-shadow: 0.5px 0px 1px rgba(121, 73, 41, 0.671);
}
.header--nav-title .high-letter {
   font-size: 6vw;
   color: rgb(90, 48, 0);
}
.header--nav-title .low-letter {
   font-size: 5vw;
   color: rgb(36, 19, 0);
}
.header--nav-links .nav-link {
   color: rgb(26, 14, 0);
   font-family: "Exo", sans-serif;
   margin-left: 0.3rem;
   margin-right: 0.3rem;
   margin-top: 0.5rem;
   background-color: rgba(26, 14, 0, 0.116);
   border-radius: 0.4rem;
   padding: 0.1rem;
   transition-duration: 300ms;
}
.header--nav-links .nav-link:hover {
   color: rgb(44, 27, 5);
   background-color: #6764696e;
}
/* *Section: /Header* */

/* *Section: Caption* */
.caption {
   width: 80%;
   top: -2.5rem;
   position: relative;
   transition: 600ms;
   animation: fade-in 550ms linear forwards;
}
.caption__container {
   position: relative;
}
.caption__container.small {
   padding-left: 2rem;
   padding-right: 2rem;
   animation: move-to-right 600ms linear forwards;
}
.caption__container.large {
   padding-top: 3rem;
   padding-bottom: 3rem;
   animation: move-to-left 600ms linear forwards;
}
.caption__container .row {
   background: #aa9d95;
}
.caption--img {
   max-width: 100%;
   min-height: 100%;
}
.caption--img.right {
   border-left-style: ridge;
   border-color: #5e473a;
}
.caption--img.left {
   border-right-style: groove;
   border-color: #5e473a;
}
.caption--quote {
   color: rgb(26, 14, 0);
   font-family: "Marck Script", cursive;
   font-size: 3.5vw;
}
/* *Section: /Caption* */

/* *Section: About* */
.about {
   position: relative;
}
.about__container .row {
   width: 90%;
}
.about--desc {
   font-family: "El Messiri", sans-serif;
   font-size: larger;
   text-align: justify;
}
/* *Section: /About* */

/* *Section: Location* */
.location--map-div {
   padding: 3rem;
}
.location--map {
   max-width: 100%;
}
.location--address-div {
   padding: 0;
}
.location--address {
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
   width: 93%;
   padding: 5rem;
   background: #85685634;
}
.location--address-text {
   font-family: "Exo", sans-serif;
   font-size: 1.2rem;
   letter-spacing: 0.03rem;
}
/* *Section: /Location* */

/* *Section: Footer* */
.footer {
   padding: 0 5%;
}
.footer__container {
   border-top: 2px solid rgb(32, 17, 0);
}
.footer--heading {
   font-family: "Cairo", sans-serif;
   font-size: 1rem;
   color: rgb(22, 12, 0);
   letter-spacing: 0.1rem;
}
.footer--media-logo {
   font-size: larger;
}
.footer--media-logo a {
   text-decoration: none;
   fill: rgb(32, 17, 0);
   margin: 0 0.1rem;
}
.footer--media-logo a svg {
   width: 1.6rem;
   margin-top: -0.25rem;
}
.footer--media-logo a:hover {
   fill: #5e473a;
   text-decoration: none;
}
/* *Section: /Footer* */

/* *Page Scroll Btn* */
#scroll-top-btn {
   display: none;
   position: fixed;
   bottom: 3rem;
   right: 4%;
   background-color: rgba(63, 34, 0, 0.65);
   width: 2.5rem;
   aspect-ratio: 1;
   border-radius: 50%;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   z-index: 999;
   transition-duration: 500ms;
}
#scroll-top-btn:hover {
   background-color: rgba(63, 34, 0, 0.85);
}
.scroll-top-btn--arrow {
   fill: rgb(32, 17, 0);
   width: 2rem;
}
/* * /Page Scroll Btn* */
